@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
    --primary-color: #2887ff;
    --dark-color: #2476da;
    --text-dark: #0a0a0a;
    --text-light: #737373;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

html,
body {
    scroll-behaviour: smooth;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;

}

.section__description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-light);
    text-align: center;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

.logo {
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--text-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behaviour: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo .logo {
    font-size: 1.5rem;
    color: var(--white);
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(100%);
}

.nav__links a {
    font-weight: 600;
    color: var(--white);
    white-space: nowrap;
}

.nav__links a:hover {
    color: var(--text-dark);
}

.nav__btns {
    display: none;
}

/* Header */
header {
    margin-top: 5rem;
    padding-inline: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

header::before {
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% - 2rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/image/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3rem;
    z-index: -1;
}

.header__container {
    display: grid;
}

.header__content {
    padding: 4rem 1rem;
}

.header__content p {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.header__content h1 {
    margin-bottom: 2rem;
    font--size: 4.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-dark);
    line-height: 5.5rem;
}

.header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__btns .btn {
    padding: 1rem 2rem;
}

.header__btns a {
    padding: 9px 13px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 100%;
}

.header__btns a:hover {
    color: var(--white);
    background-color: var(--primary-color);
}


/* Features */
.features__container :is(.section__header, .section__description) {
    text-align: left;
    margin-inline-start: unset;
}

.features__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem 1rem;
}

.features__card img {
    border-radius: 1.5rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.features__card__details {
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.features__card__details h4 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    columns: var(--text-dark);
}

.features__card__details p {
    columns: var(--text-light);
}

.features__rating {
    padding: 5px 10px;
    font-size: 0.9rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: 0.3s;
}

.features__card:hover .features__rating {
    background-color: var(--dark-color);
}

/* Service */
.service__grid {
    margin-top: 2rem;
    display: grid;
    gap: 0 1rem;
}

.service__card {
    position: relative;
    isolation: isolate;
    padding-top: 4rem;
    overflow: hidden;
}

.service__card__bg {
    padding: 2rem;
    background-color: var(--extra-light);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.service__card__bg span {
    display: inline-block;
    margin-bottom: 4rem;
    font-size: 1.75rem;
    color: var(--primary-color);
}

.service__card__bg h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.service__card__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: 0.3s;
}

.service__card:hover .service__card__content {
    top: 0;
}

.service__card__content span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 7px 9px;
    font-size: 1rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 100%;
}

.service__card__content h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.service__card__content p {
    color: var(--extra-light);
}

/* Footer */
footer {
    background-color: var(--extra-light);
}

.footer__container {
    display: grid;
    gap: 4rem 2rem;
}

.footer__col p {
    max-width: 300px;
    margin-block: 2rem;
    color: var(--text-light);
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials a {
    display: inline-block;
    padding: 7px 10px;
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
}

.footer__socials a:hover {
    background-color: var(--dark-color);
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer__links {
    display: grid;
    gap: 1rem;
}

.footer__links a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-light);
}

.footer__links a:hover {
    color: var(--primary-color);
}

.footer__links a span {
    font-size: 1.25rem;
}

.footer__col form {
    display: grid;
    gap: 1rem;
}

.footer__col input {
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: var(--white);
    border: 1px solid var(--text-light);
    border-radius: 5px;
}

.footer__col input::placeholder {
    color: var(--text-light);
}

.footer__col .btn {
    border-radius: 5px;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}


@media (width > 540px) {
    .features__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .service__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__col:last-child {
        grid-area: 2/1/3/2;
    }
}


@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav__logo .logo {
        color: var(--text-dark);
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }

    .nav__links a {
        color: var(--text-dark);
    }

    .nav__links a:hover {
        color: var(--primary-color);
    }

    .nav__links li:last-child {
        display: none;
    }

    .nav__btns {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .nav__btns button {
        padding: 0.75rem 2rem;
        background-color: var(--text-dark);
    }

    .nav__btns button:hover {
        background-color: var(--primary-color);
    }

    header {
        margin-top: 0;
        grid-template-column:
        minmax(0, 1fr)
        repeat(5, minmax(0, calc(var(--max-width) / 5)))
        minmax(0, 1fr);
    }

    .header__content {
        grid-column: 2/4;
        padding-block: 8rem;
    }

    .header__content :is(p,h1) {
        text-align: left;
    }

    .header__btns {
        justify-content: flex-start;
    }

    .header__image {
        grid-column: 4/8;
        position: relative;
        isolation: isolate;
        height: 100%;
    }

    .header__image img {
        position: absolute;
        top: 2rem;
        left: 0;
        height: 100%;
        width: unset;
    }

    .features__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .service__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__container {
        grid-template-columns: 2fr 1fr 1fr 1.5fr;
    }

    .footer__col:last-child {
        grid-area: unset;
    }
}

@media (width > 1200px) {
    
}